html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #fcfcfc;
}

p {
    margin: 2px;
}

.bold {
    font-weight: bold;
}

#horizontal-nav {
    position: fixed;
    height: 100%;
    padding: 24px;
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 97vh;
    color: #616569;
    margin-right: 40px;
    background-color: white;
    z-index: 2;
}

#handle {
    position: absolute;
    right: -18px;
}

.transform{
    transform: rotate(180deg);
}

#right-content {
    position: absolute;
    left:18%;
    width: 80%;
    padding: 24px 0px;
    background-color: #fcfcfc;
    z-index: 1;
}

.icon-text.active::after {
    content: '';
    position: absolute;
    right: -25px; 
    top: 0; 
    height: 100%; 
    width: 4px;
    background-color: red; 
    border-radius: 12px 0 0 12px;
}

.cover-all {
    position: absolute !important;
    left:5% !important;
    width: 90% !important;
    padding: 24px !important;
    margin:auto 0  !important;
}

#logo-container {
    align-items: center;
    margin-bottom: 60px;
}

.title {
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 14px;
    padding-bottom: 15px;
    color: rgb(102, 107, 112,0.6);
    margin: 0;
}

.icon-text {
    display: flex;
    padding: 4px;
    align-items: center;
    position: relative;
    padding-left: 14px;
}

.active {
    color: #f44848 !important;
    border-radius: 8px !important;
    border: 1px solid #fde9e9 !important;
    background-color: #fde9e9 !important; 
}

.active-btn {
    color: white !important;
    border-radius: 8px !important;
    border: 1px solid red !important;
    background-color: red !important; 
}

.icon-text img {
    padding-right: 8px;
}

.icon-text p {
    margin: 8px 0;
}

#update-container {
    background-color: #fef6f6;
    border-radius: 8px;
    padding: 10px 10px;
}

.rounded-img {
   border-radius: 50%;
   margin-right: 6px;
   object-fit: cover;
}

.primary-text {
    color: #f44848;
    font-weight: bold;
    padding-bottom: 4px;
}

.secondary-text {
    color: grey;
}

#update-container p{
   padding-bottom: 8px;
   line-height: 1.25rem;
}

.row-btns {
    padding-top: 10px;
    padding-bottom: 10px;
}

.accept-btn {
    border: 1px solid #f44848;
    background-color: #f44848;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
}

.apply-btn {
    border: 1px solid #f44848;
    background-color: #f44848;
    border-radius: 4px;
    color: white;
    padding: 4px 10px;
}


.dismiss-btn {
    border: 1px solid #fde6e6;
    background-color: #fde6e6;
    border-radius: 4px;
    color: #f44848;
    padding:  10px 20px;
    margin-right: 4px ;
}

.reset-btn {
    border: 1px solid #fde6e6;
    background-color: white;
    border-radius: 4px;
    color: #f44848;
    padding: 4px 10px;
    margin-right: 4px ;
}

#search-container {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    padding: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#search-container input[type=search] {
    border: none ;
    background-color: white;
  }

#search-container input:focus{
    outline: none;
    border: none;
}

input::placeholder {
  padding-left: 10px;
  color: #bbc2c9;
} 

#trailing {
    display: flex;
    justify-content:end;
}

#filter-by-letter button {
    border: 1px solid #eaebee;
    background-color: #eaebee;
    padding: 12px;
    border-radius: 4px;
    color: #8b97a7;
}

.filter-header {
    color: #5c6e7e;
    font-weight: bold;
    padding-bottom: 8px;
}

.filter-subtitle {
    color: grey;
}

.btn {
    border-radius: 8px;
    padding: 8px 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.inactive-btn {
    color: grey;
    background-color: white;
    border: 1px solid rgb(128, 128, 128,0.5);
    margin-right: 10px;
}

.del-btn {
    background-color: #f89191;
    border: 1px solid #f89191;
    border-radius: 4px;
    color: white;
    padding: 4px 10px;
    cursor: not-allowed;
}

.primary-btn {
    color: white;
    background-color: #f44848;
    border: none;
}

#filter-category-container {
    width: 100%;
    padding: 8px;
    border: 1px solid #fbc4c4;
    background-color: #fdf2f2;
    border-radius: 6px;
    box-sizing: border-box;
}
#filter-categories {
    margin-left: 12px;
}

.filter-category {
    border : 0.5px solid #fbc4c4;
    background-color: white;
    border-radius: 6px;
    padding: 6px;
    margin-right:6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #65728b;
}

#employees-container {
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    background-color: white;
}

table {
    width: 100%;
    color:#2c2c2c;
    border-collapse: collapse;
    table-layout: auto;
}

th {
    color:#65728b;
    text-transform: uppercase;
    background-color: #fafafc;
}

td, th {
    border: none;
    text-align: left;
    padding: 12px 20px; 
}

tr {
    border-top:  1px solid #dddddd;
}

tr:hover {
    background-color: #fff4f4;
}

.status-active-btn {
    color: green;
    background-color: #e7f4e8;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    text-align: center;
}

.status-inactive-btn {
    color: red;
    background-color: #fde6e6;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    text-align: center;
}

select {
    border: none;
    padding: 4px 0px;
}

select:focus{
    outline: none;
    border: none;
}

.bordered {
    border : 1px solid #ff7782;
    border-radius: 4px;
}

.option {
    color: red;
}

#profile {
    position: relative;
}

.circle {
    position: absolute;
    left: 30px;
    bottom: 2px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #4fd189;
    border: 2px solid white;
}

.active-delete {
    color: white !important;
    background-color: red !important; 
    cursor: pointer !important;
}

.input-container {
    margin: 0 auto !important;
    margin-bottom: 16px !important;
    text-overflow: ellipsis !important;
    width: 100% !important;
}

body {
    font-family: Arial, sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 25%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
