#department , #filtered-employees {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
}

.department-container, .filtered-employee-container {
    width: 30%;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    background-color: white;
    padding: 40px 20px 20px 20px;
    margin-bottom: 16px;
}

.dept-header {
    padding-bottom: 20px;
    color: black;
    font-size: 16px;
}

.dept-body {
    color: #8e98aa;
    padding-bottom: 10px;
}

.dept-link {
    color: #8f8f8f;
}

.hidden {
    display: none;
}